* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle at 30% 30%,
            #9d582a 0%,
            /* deep purple/blue */
            #3c241b 40%,
            /* dark purple */
            #e77b45 70%,
            /* indigo hue */
            #0c0c0c 100%
            /* nearly black at edges */
        );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.title {
    color: white;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    height: 60vmin;
    width: 60vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1vmin;
    color: saddlebrown;
    border: none;
    box-shadow: 5px 5px 20px;
    font-size: 8vmin;
    background-color: rgb(255, 255, 255);

}

#reset {
    background-color: black;
    color: rgb(128, 85, 55);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    box-shadow: 5px 5px 20px;
}

.winner {
    font-size: 5vmin;
}

.hide {
    display: none;
}